<h1>
  <%= @friend_skills.size + @others.size %> 
  results for "<%=h @query %>"
</h1>

<h2>Connections</h2>
<ol>
<% @friend_skills.each do |skill| %>
  <li>
    <%= link_to h(skill.user.full_name), user_skills_path(skill.user) %>
    on <%= link_to h(skill.name), user_skill_path(skill.user, skill) %>
  </li>
<% end -%>
</ol>

<h2>Everyone else</h2>
<ol>
<% @others.each do |skill| %>
  <li>
    <%= link_to h(skill.user.full_name), user_skills_path(skill.user) %>
    on <%= link_to h(skill.name), user_skill_path(skill.user, skill) %>
  </li>
<% end -%>
</ol>