<h1>Editing skill</h1>

<% form_for [current_user, @skill] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', user_skill_path(current_user, @skill) %> |
<%= link_to 'Back', user_skills_path(current_user) %>
