<h1><%= h @user.full_name %>'s skills</h1>

<ul id="user_<%= @user.id %>_skills">
<% @skills.each do |skill| %>
  <li>
  <%= link_to h(skill.name), user_skill_path(@user, skill) %> 
    <% if you? %>
    { 
      <%= link_to 'edit', edit_user_skill_path(@user, skill) %>
      <%= link_to 'destroy', user_skill_path(@user, skill), :confirm => 'Are you sure?', :method => :delete %>
    }
    <% end -%>
  </li>
<% end %>
</ul>

<br />

<% if you? %> 
  <%= link_to 'New skill', new_user_skill_path(@user) %>
<% elsif your_friend? %>
  <%= link_to "Remove connection", unfriend_path(current_user, @user) %>
<% else %>
  <%= link_to "Connect with #{h @user.first_name}", invite_path(current_user, @user) %>
<% end -%>